#controls {
    background: #1b1d25;
    position: absolute;
    z-index: 2147483647;
    bottom: 0;
    left: 0;
    right: 0;
}

#controls ul {
    height: 30px;
    margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

#controls ul > li {
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: auto;
    margin: auto;
    float: left;
}

#controls ul :nth-child(1) {
    order: 1;
    flex: 0.01 0 auto;
    align-self: auto;
}

#controls ul :nth-child(2) {
    order: 2;
    flex: 0.1 0 auto;
    align-self: center;
}

#controls ul :nth-child(3) {
    order: 3;
    flex: 2 0 auto;
    align-self: auto;
}

#controls ul :nth-child(4) {
    margin-left: 10px;
    order: 4;
    flex: 0.01 0 auto;
    align-self: auto;
}

#controls ul :nth-child(5) {
    order: 5;
    flex: 0.1 0 auto;
    align-self: auto;
}

#controls ul :nth-child(6) {
    order: 6;
    flex: 0 0 auto;
    align-self: auto;
}

#time {
    margin-top: 9px;
    font-size: 10px;
    text-align: center;
}

.button {
    border: none;
    border-radius: 10px;
    width: 34px;
    height: 32px;
    outline: none;
    cursor: pointer;
    display: block;
}

.seekbar {
    width: 100%;
}

#full-screen {
    border-radius: 5px;
    opacity: 0.9;
    width: 26px;
    height: 26px;
}
