body {
    color: #ffffff;
}

.custom-video {
    position: relative;
    height: 400px;
    width: 700px;
    margin: 0 auto;
}

#video {
    position: relative;
}

video::-webkit-media-controls {
    display: none !important;
}

.play {
    background: transparent url('../images/player/play.png') 0 0 no-repeat;
}

.pause {
    background: transparent url('../images/player/pause.png') 0 0 no-repeat;
}

.mute {
    background: transparent url("../images/player/mute.png") 0 0 no-repeat;
}

.unmute {
    background: transparent url("../images/player/unmute.png") 0 0 no-repeat;
}

.full-screen-off {
    background: transparent url("../images/player/fullscreenexit.png") 0 0 no-repeat;
}

.full-screen-on {
    background: transparent url("../images/player/fullscreen.png") 0 0 no-repeat;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    outline: none;
    background: #1b1d25;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: #333745;

}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 12px;
    background: #ea2e49;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
