body {
    color: #ffffff;
    border: none;
    padding: 0;
    margin: 0 auto;
}

.custom-video {
    position: relative;
    margin: 0 auto;
}

video::-webkit-media-controls {
    display: none !important;
}

.play {
    background: transparent url('../images/player/icons/play.png') 0 0 no-repeat;
}

.pause {
    background: transparent url('../images/player/icons/pause.png') 0 0 no-repeat;
}

.mute {
    background: transparent url("../images/player/icons/volumeoff.png") 0 0 no-repeat;
}

.unmute {
    background: transparent url("../images/player/icons/volumeup.png") 0 0 no-repeat;
}

.full-screen-off {
    background: transparent url("../images/player/icons/fullscreen.png") 0 0 no-repeat;
}

.full-screen-on {
    background: transparent url("../images/player/icons/fullscreen.png") 0 0 no-repeat;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    outline: none;
    background: #1b1d25;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
    cursor: pointer;
    background: #333745;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 12px;
    background: #ea2e49;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

#header {
    color: #1b1d25;
    text-align: center;
    border-bottom: #4d7dff solid 2px;
}